<div nz-row [ngClass]="'container'">
  <div nz-col nzSpan="24" [ngClass]="'ant-list-bordered'">
<!--    POWER & MUTE-->
      <div nz-row>
        <div nz-col nzSpan="2"></div>
        <button nz-col nzSpan="4"><fa-icon [icon]="faMute"></fa-icon></button>
        <div nz-col nzSpan="12"></div>
        <button  nz-col nzSpan="4"><fa-icon [icon]="faPower"></fa-icon></button>
        <div nz-col nzSpan="2"></div>
      </div>
    <!-- END    POWER & MUTE-->
    <!--    NUMBERS  & OTHER-->
    <div nz-row>
      <div nz-col nzSpan="2"></div>
      <button  nz-col nzSpan="4">1</button>
      <div nz-col nzSpan="4"></div>
      <button  nz-col nzSpan="4">2</button>
      <div nz-col nzSpan="4"></div>
      <button  nz-col nzSpan="4">3</button>
      <div nz-col nzSpan="2"></div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="2"></div>
      <button  nz-col nzSpan="4">4</button>
      <div nz-col nzSpan="4"></div>
      <button  nz-col nzSpan="4">5</button>
      <div nz-col nzSpan="4"></div>
      <button  nz-col nzSpan="4">6</button>
      <div nz-col nzSpan="2"></div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="2"></div>
      <button  nz-col nzSpan="4">7</button>
      <div nz-col nzSpan="4"></div>
      <button  nz-col nzSpan="4">8</button>
      <div nz-col nzSpan="4"></div>
      <button  nz-col nzSpan="4">9</button>
      <div nz-col nzSpan="2"></div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="2"></div>
      <button  nz-col nzSpan="4">HOME</button>
      <div nz-col nzSpan="4"></div>
      <button  nz-col nzSpan="4">0</button>
      <div nz-col nzSpan="4"></div>
      <button  nz-col nzSpan="4">SLEEP</button>
      <div nz-col nzSpan="2"></div>
    </div>
    <!-- END NUMBERS  & OTHER-->
    <!--    MENU AND NAV -->
    <div nz-row>
      <div nz-col nzSpan="2"></div>
      <button  nz-col nzSpan="4">MENU</button>
      <div nz-col nzSpan="4"></div>
      <button  nz-col nzSpan="4"><fa-icon [icon]="faUp"></fa-icon></button>
      <div nz-col nzSpan="4"></div>
      <button  nz-col nzSpan="4">SRC</button>
      <div nz-col nzSpan="2"></div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="2"></div>
      <button  nz-col nzSpan="4"><fa-icon [icon]="faLeft"></fa-icon></button>
      <div nz-col nzSpan="4"></div>
      <button  nz-col nzSpan="4">OK</button>
      <div nz-col nzSpan="4"></div>
      <button  nz-col nzSpan="4"><fa-icon [icon]="faRight"></fa-icon></button>
      <div nz-col nzSpan="2"></div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="2"></div>
      <button  nz-col nzSpan="4">EXIT</button>
      <div nz-col nzSpan="4"></div>
      <button  nz-col nzSpan="4"><fa-icon [icon]="faDown"></fa-icon></button>
      <div nz-col nzSpan="4"></div>
      <button  nz-col nzSpan="4">DISP</button>
      <div nz-col nzSpan="2"></div>
    </div>
    <!--    End menu and nav-->
<!--    VOLUME & CHANNEL-->
    <div nz-row>
      <div nz-col nzSpan="2"></div>
      <button  nz-col nzSpan="4"><fa-icon [icon]="faPlus"></fa-icon></button>
      <div nz-col nzSpan="4"></div>
      <button  nz-col nzSpan="4">ASP</button>
      <div nz-col nzSpan="4"></div>
      <button  nz-col nzSpan="4"><fa-icon [icon]="faPlus"></fa-icon></button>
      <div nz-col nzSpan="2"></div>
    </div>
    <div nz-row>
      <div  nz-col nzSpan="2">Vol</div>
      <button  nz-col nzSpan="4"><fa-icon [icon]="faMinus"></fa-icon></button>
      <div nz-col nzSpan="4"></div>
      <button  nz-col nzSpan="4">MOUSE</button>
      <div nz-col nzSpan="4"></div>
      <button  nz-col nzSpan="4"><fa-icon [icon]="faMinus"></fa-icon></button>
      <div nz-col nzSpan="2">Ch</div>
    </div>
<!--    END VOLUME & CHANNEL-->
<!--    Multimedia-->
    <div nz-row>
      <div nz-col nzSpan="2"></div>
      <button  nz-col nzSpan="4"><fa-icon [icon]="faDoubleLeft"></fa-icon></button>
      <div nz-col nzSpan="4"></div>
      <button  nz-col nzSpan="4"><fa-icon [icon]="faPause"></fa-icon>&nbsp;<fa-icon [icon]="faPlay"></fa-icon></button>
      <div nz-col nzSpan="4"></div>
      <button  nz-col nzSpan="4"><fa-icon [icon]="faDoubleRight"></fa-icon> </button>
      <div nz-col nzSpan="2"></div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="2"></div>
      <button  nz-col nzSpan="4"><fa-icon [icon]="faBackward"></fa-icon></button>
      <div nz-col nzSpan="4"></div>
      <button  nz-col nzSpan="4"><fa-icon [icon]="faForward"></fa-icon></button>
      <div nz-col nzSpan="4"></div>
      <button  nz-col nzSpan="4"><fa-icon [icon]="faStop"></fa-icon></button>
      <div nz-col nzSpan="2"></div>
    </div>
  </div>
</div>
